<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KiwiLearn</title>
    <script>
    $(document).ready(function() {
      $('#tools').DataTable();
    } );
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <style>
      body {
         padding-top: 70px; 
         }
      footer {
        padding: 10px;
      }
      .blue {
        background-color: dodgerblue;
        color: white;
      }

    </style>
  </head>

  <body>
<nav class="navbar navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="/" style="color:white">Kiwilearn</a>
    <div class="navbar navbar-default">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/tools">Tools</a>
      <a class="nav-item nav-link" href="/submit">Submit</a>
      <a class="nav-item nav-link" href="/about">About Us</a>
    </div>
</nav>
<div class="container">
<div class="jumbotron" style="background-image: {{ url_for('static', filename='back.png') }}; background-size: cover;">
    <h1> KiwiLearn </h1>
    <p> Learning tools for kiwis of all shapes and sizes  </p>
</div>
</div>
    {%block main%}

    {%endblock%}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">KiwiLearn: Created by Will Irvine, 2020</span>
      </div>
    </footer>
  </body>
  <foot>

  </foot>
</html>