{% extends "bootstrap/base.html" %}
{% block main %}
<div class="container">
<div class="row">
    <div class="col-md">
        <h2> <b> About Us </b> </h2>
        <p>
            KiwiLearn was created during the 2020 COVID-19 lockdown by Will Irvine, a 15-year-old student in Nelson, New Zealand. 
        </p>
        <p>
            Will created KiwiLearn to help parents and families who are having trouble with teaching their children in lockdown.
        </p>
        <h2> <b> Contact </b> </h2>
        <p class="align-left">
        <img src="{{ url_for('static', filename='phone.png') }}" width="40" height="40"/> 022 035 8935
        </p>
        <p class="align-left">
        <img src="{{ url_for('static', filename='mail.png') }}" width="40" height="40" style="padding:2px"/> <a href="mailto:kiwilearnnz@gmail.com"> kiwilearnnz@gmail.com </a>
        </p>
    </div>
    <div class="col-md">
        <div class="align-right">
            <img src="{{ url_for('static', filename='Will.jpg') }}" width="500" height="500"/>
        </div>
    </div>
</div>
</div>
{%endblock%}