{% extends "bootstrap/base.html" %}

{% block main %}
<div class="container">
    <h2> <b> Welcome to KiwiLearn! </b> </h2>
    <p>
        KiwiLearn is an interactive guide for all the tools you need to survive teaching and learning from home! Perhaps your primary school is unable to provide learning resources during this trying time - or your child wants to push themselves and is curious about new learning!
    </p>
    <p>
        KiwiLearn provides a carefully-monitored database of education tools submitted by teachers, parents, and students! We hope you enjoy our service, click below to get started!
    </p>
    <br/>
    <div class="text-center">
        <a class="btn btn-lg blue" href="/tools" role="button">View Tools</a>
    </div>
</div>
{%endblock%}