{% extends "bootstrap/base.html" %}
{% block main %}
<div class="container">
<h2> <b> Search Results </b> </h2>
<table id="tools" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
        <th class="th-sm">Name
        </th>
        <th class="th-sm">Minimum Age
        </th>
        <th class="th-sm">Maximum Age
        </th>
        <th class="th-sm">Verified
        </th>
        </tr>
    </thead>
    <tbody>   
    {% for i in tools %}
        <tr>
            <td> <a href="/tool/{{i[0]}}"> {{ i[1] }} </a> </td>
            <td> {{ i[4] }} </td>
            <td> {{ i[5] }} </td>
            <td>
            {% if i[3] != 1 %}
                No
            {% else %}
                Yes
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{%endblock%}