{% extends "bootstrap/base.html" %}
{% block main %}
<div class="container">
<h2> <b> Search </b> </h2>
{% if results == False %}
    <p class="lead" style="color:red"> No results </p>
{% endif %}
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST", action="">
    <div class="form-group">
        {{render_field(form.query, class="form-control")}}
    </div> 
    <p><input type="submit" style="background-color:dodgerblue" class="btn btn-primary" value="Search"> </p>
</form>

{% endblock %}