{% extends "bootstrap/base.html" %}
{% block main %}
<div class="container">
<h2> <b> Submit </b> </h2>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST", action="">
    <div class="form-group">
        {{render_field(form.name, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.website, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.min_age, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.max_age, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.description, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.img_url, class="form-control")}}
    </div>
    <p> Confused? Check out this <a href='/tutorial.html'> link </a> </p>
    <input type="submit" class="btn btn-primary blue" value="Submit" style="background-color:dodgerblue"> </<input>

</form>

</div>
{%endblock%}