{% extends "bootstrap/base.html" %}
{% block main %}
<div class="container justify-content-between">
    <div class="row">
        <div class="col-sm">
            <h2> <b> Tools </b> </h2>
            <p class="lead"> (showing all) </p>
        </div>
        <div class="col-sm text-right">
            <p style="padding-bottom:5px">
                <a class="btn btn-lg blue" href="/search" role="button">Search</a>
            </p>
        </div>
</div>

<div class="container">
<table id="tools" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr class="d-flex">
            <th class="col-6">Name
            </th>
            <th class="col-2">Min. Age
            </th>
            <th class="col-2">Max. Age
            </th>
            <th class="col-2"  data-toggle="tooltip" data-placement="top" title="Verified content is fully checked by our site admins">Verified
            </th>
        </tr>
    </thead>
    <tbody>   
    {% for i in tools %}
        <tr class="d-flex">
            <td class="col-6"> <a href="/tool/{{i[0]}}"> {{ i[1] }} </a> </td>
            <td class="col-2"> {{ i[4] }} </td>
            <td class="col-2"> {{ i[5] }} </td>
            {% if i[3] != 1 %}
            <td class="col-2">
                No
            {% else %}
            <td class="col-2" style="background-color:lightblue" data-toggle="tooltip" data-placement="top" title="Verified content is fully checked by our site admins">
                Yes
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{%endblock%}