{% extends "bootstrap/base.html" %}
{% block main %}
<div class="container">
    <h2><b>{{ name }} </b></h2>
    <div class="row">
    <div class="col-md">
        <div class="pull-left"><p> {{ description }} </p></div>
        <div class="align-left"> 
            <p class="lead">Ages: {{min_age}}-{{max_age}} </p>
        </div>
        <div class="align-right">
            <a class="btn btn-lg blue" href="http://{{ website }}" role="button">Visit Site</a>
        </div>
    </div>
    {% if img_url %}
    <div class="col-md">
    <div class="align-right">
    <img src="{{ img_url }}" style="max-height:600px; max-width:600px" /> 
    </div>
    </div>
    {% endif %}
    </div>

</div>
    
{%endblock%}