{% extends "bootstrap/base.html" %}
{% block main %}
<div class="container">
<div class="row">
    <div class="col-md">
        <h2> <b> How To Choose An Image URL </b> </h2>
        <p class="lead">
            One of the biggest problems people find with KiwiLearn is uploading images. Luckily, we've prodided a quick guide.
        </p>
        <h4> Step 1: Find your image </h4>
        <p>
            Images can be found by doing a quick google images search for the name of your site! Look for one that you think would suit the KiwiLearn page.
        </p>
        <h4> Step 2: Copy image url </h4>
        <p>
            Right click on the image and select "copy image URL".
        </p>
        <h4> Step 3: Paste and remove </h4>
        <p>
            Press CTRL+V (CMD+V on Apple devices) in the Image URL section of the Submit form. 
        </p>
    </div>
    <div class="col-md">
        <div class="align-right">
            <img src="{{ url_for('static', filename='howTo.PNG') }}" width="500" height="500"/>
        </div>
    </div>
</div>
</div>
{%endblock%}